:root {
    --font-name: Gotham;
    --font-path: 
}

@font-face {
    font-family: var(--font-name);
    src: url('../assets/fonts/Gotham-Font/Gotham-XLight.otf');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: var(--font-name);
    src: url('../assets/fonts/Gotham-Font/Gotham-XLightItalic.otf');
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: var(--font-name);
    src: url('../assets/fonts/Gotham-Font/Gotham-Light.otf');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: var(--font-name);
    src: url('../assets/fonts/Gotham-Font/GothamLightItalic.ttf');
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: var(--font-name);
    src: url('../assets/fonts/Gotham-Font/Gotham-Thin.otf');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: var(--font-name);
    src: url('../assets/fonts/Gotham-Font/Gotham-ThinItalic.otf');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: var(--font-name);
    src: url('../assets/fonts/Gotham-Font/GothamBook.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: var(--font-name);
    src: url('../assets/fonts/Gotham-Font/Gotham-BookItalic.otf');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: var(--font-name);
    src: url('../assets/fonts/Gotham-Font/GothamMedium.ttf');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: var(--font-name);
    src: url('../assets/fonts/Gotham-Font/GothamMediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: var(--font-name);
    src: url('../assets/fonts/Gotham-Font/Gotham-Bold.otf');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: var(--font-name);
    src: url('../assets/fonts/Gotham-Font/GothamBoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: var(--font-name);
    src: url('../assets/fonts/Gotham-Font/Gotham-Black.otf');
    font-weight: 900;
    font-style: normal;
  }

  